RewriteEngine On

RewriteCond %{REQUEST_URI} /light-test-html
RewriteCond %{TIME} <20210222172050
RewriteCond %{TIME} >20210222161000
RewriteCond %{HTTP_REFERER} !.*www\.ehime-u\.ac\.jp.*
RewriteRule ^.*$ light-test.html [L]

<Files "*.html">
Header set Pragma no-cache
Header set Cache-Control no-cache
</Files>

